*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App::before{
  content: " ";
  vertical-align: middle;
  height: 25vh;
}

.App{
  width: 40%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

hr{
  width: 50%;
  margin: auto;
  margin-top: 20px;
}

.app-container {
  width: 30vw;
  height: 50vh;
  border: solid black;
  margin: auto;
  text-align: center;
}

@media screen and (max-width: 992px) {
  .App{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .app-container {
    width: 30vw;
    height: 30vh;
    margin: auto;
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .App{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .app-container {
    width: 30vw;
    height: 30vh;
    margin: auto;
    text-align: center;
  }
}
